<ol class="breadcrumb">
  <li><a [routerLink]="['/inicio']">Inicio</a></li>
  <li class="active">Clasificaciones</li>
</ol>

<div class="row">
  <div class="col-lg-4 col-md-offset-1">
    <h4>Circuitos</h4>
    <div class="list-group">
      <a class="list-group-item" 
        *ngFor="let circuito of circuitos" 
        (click)="muestraCircuito(circuito.id)" 
        [ngClass]="{ 'active': circuito.id === circuitoSeleccionado }">
          <img class="flag" src="assets/images/flags/{{ circuito.pais }}.png" [alt]="circuito.pais"> {{ circuito.nombre }}
      </a>
    </div>
  </div>

  <div class="col-lg-5 col-lg-offset-1">
    <p class="text-right">
      <a [routerLink]="['/clasificaciones/add', categoria, circuitoSeleccionado]" class="btn btn-success">Nueva Clasificación {{ categoria }}</a>
    </p>

    <ul class="nav nav-tabs">
      <li [ngClass]="{ 'active': categoria === 'MotoGP' }">
        <a data-toggle="tab" href="#MotoGP" (click)="muestraCategoria('MotoGP')">MotoGP</a>
      </li>
      <li [ngClass]="{ 'active': categoria === 'Moto2' }">
        <a data-toggle="tab" href="#Moto2" (click)="muestraCategoria('Moto2')">Moto2</a>
      </li>
      <li [ngClass]="{ 'active': categoria === 'Moto3' }">
        <a data-toggle="tab" href="#Moto3" (click)="muestraCategoria('Moto3')">Moto3</a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div id="MotoGP" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'MotoGP' }">
        <br/><br/>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Piloto</th>
              <th class="text-center">Posición</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let motoGP of clasificacionesByMotoGP" (click)="modifiedLink(clasificacionByMotoGP.id)">
              <td><app-piloto-detalle [piloto]="motoGP.piloto" [extra]="motoGP.piloto.equipo.moto"></app-piloto-detalle></td>
              <td class="text-center">{{ motoGP.posicion }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="Moto2" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto2' }">
        <br/><br/>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Piloto</th>
              <th class="text-center">Posición</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moto2 of clasificacionesByMoto2" (click)="modifiedLink(clasificacionByMoto2.id)">
              <td><app-piloto-detalle [piloto]="moto2.piloto" [extra]="moto2.piloto.equipo.moto"></app-piloto-detalle></td>
              <td class="text-center">{{ moto2.posicion }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="Moto3" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto3' }">
        <br/><br/>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Piloto</th>
              <th class="text-center">Posición</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moto3 of clasificacionesByMoto3" (click)="modifiedLink(clasificacionByMoto3.id)">
              <td><app-piloto-detalle [piloto]="moto3.piloto" [extra]="moto3.piloto.equipo.moto"></app-piloto-detalle></td>
              <td class="text-center">{{ clasificacionByMoto3.posicion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
