<ol class="breadcrumb">
  <li><a [routerLink]="['/inicio']">Inicio</a></li>
  <li class="active">Clasificaciones</li>
</ol>

<div class="row">
  <div class="col-lg-4">
      <app-clasificaciones-nav [circuito]="seleccionCircuito" (seleccion)="muestraCircuito($event)"></app-clasificaciones-nav>
  </div>

  <div class="col-lg-7 col-lg-offset-1">
    <p class="text-right">
      <a [routerLink]="['/clasificaciones/add', categoria, seleccionCircuito]" class="btn btn-success">Nueva Clasificación {{ categoria }}</a>
    </p>

    <ul class="nav nav-tabs">
      <li [ngClass]="{ 'active': categoria === 'MotoGP' }">
        <a data-toggle="tab" href="#MotoGP" (click)="muestraCategoria('MotoGP')">MotoGP</a>
      </li>
      <li [ngClass]="{ 'active': categoria === 'Moto2' }">
        <a data-toggle="tab" href="#Moto2" (click)="muestraCategoria('Moto2')">Moto2</a>
      </li>
      <li [ngClass]="{ 'active': categoria === 'Moto3' }">
        <a data-toggle="tab" href="#Moto3" (click)="muestraCategoria('Moto3')">Moto3</a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div id="MotoGP" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'MotoGP' }">
        <br/><br/>
        <app-clasificaciones-ficha [clasificaciones]="clasificacionesByMotoGP"></app-clasificaciones-ficha>
      </div>

      <div id="Moto2" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto2' }">
        <br/><br/>
        <app-clasificaciones-ficha [clasificaciones]="clasificacionesByMoto2"></app-clasificaciones-ficha>
      </div>

      <div id="Moto3" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto3' }">
        <br/><br/>
        <app-clasificaciones-ficha [clasificaciones]="clasificacionesByMoto3"></app-clasificaciones-ficha>
      </div>
    </div>
  </div>
</div>
