<div class="thumbnail">
  <a [routerLink]="['/pilotos/edit', piloto.equipo.categoria, piloto.id]">
    <img class="principal" [src]="piloto.imagen" class="img-responsive" [alt]="piloto.nombre" [title]="piloto.nombre">
  </a>
  <span class="dorsal-encima text-info"><strong>{{ piloto.dorsal }}</strong></span>
  <div class="caption">
    <h4 class="titulo">
      <img class="flag" src="assets/images/flags/{{ piloto.pais }}.png" [alt]="piloto.pais">
      <a [routerLink]="['/pilotos/edit/', piloto.equipo.categoria, piloto.id]">
        <app-piloto-detalle [piloto]="piloto" [extra]="piloto.edad"></app-piloto-detalle>
      </a>
    </h4>

    <dl>
      <dt>Equipo</dt>
      <dd>
        <h5>
          <a [routerLink]="['/equipos/edit/', piloto.equipo.categoria, piloto.equipo.id]">
            <app-equipo-detalle [equipo]="piloto.equipo"></app-equipo-detalle>
          </a>
        </h5>
      </dd>
    </dl>
  </div>
</div>
