<ol class="breadcrumb">
  <li><a [routerLink]="['/inicio']">Inicio</a></li>
  <li><a [routerLink]="['/clasificaciones']">Clasificaciones</a></li>
  <li class="active">
      <span *ngIf="edit">Editar</span>
      <span *ngIf="!edit">Nuevo</span>
  </li>
</ol>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
      <form action="">
        <div class="form-group">
          <label>Circuito</label>
          <select class="form-control" [(ngModel)]="clasificacion.circuito" [disabled]="true" [ngModelOptions]="{standalone: true}">
            <option value="0">Seleccione un circuito</option>
            <option *ngFor="let circuito of circuitos" [value]="circuito.id">{{ circuito.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Categoría</label>
          <select class="form-control" [(ngModel)]="clasificacion.categoria" [disabled]="true" [ngModelOptions]="{standalone: true}">
            <option value="0">Seleccione una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Piloto</label>
          <select class="form-control" [(ngModel)]="clasificacion.piloto" [ngModelOptions]="{standalone: true}">
            <option value="0">Seleccione un piloto</option>
            <option *ngFor="let piloto of pilotosByCategoria" [value]="piloto.id">{{ piloto.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Posición</label>
          <input type="number" name="posicion" [(ngModel)]="clasificacion.posicion" placeholder="Posición" class="form-control">
        </div>

        <br/>

        <button class="btn btn-success" (click)="edit ? cambiarClasificacion() : crearClasificacion()">Guardar</button>
        <span *ngIf="edit" class="pull-right">
          <button class="btn btn-danger" (click)="borrarClasificacion(clasificacion.id)">Borrar</button>
        </span>
      </form>
  </div>
</div>
