<app-equipos-nav></app-equipos-nav>

<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="equipo.title" placeholder="Title" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="description" [(ngModel)]="equipo.description" rows="2" placeholder="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image URL" [(ngModel)]="equipo.image" placeholder="Image" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateEquipo() : saveNewEquipo()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
  <img [src]="equipo.image == '' ? '/assets/noimage.png' : equipo.image" alt="No Image" class="card-img-top">
    <h3>{{ equipo.title == '' ? 'Equipo Title' : equipo.title }}</h3>
    <p>{{ equipo.description == '' ? 'Write your Descrition' : equipo.description }}</p>
    <p>{{ equipo.created_at | date: 'yyyy-MM-dd' }}</p>
  </div>
</div>
