<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li><a [routerLink]="['/equipos']">Equipos</a></li>
    <li class="active">
        <span *ngIf="edit">Editar</span>
        <span *ngIf="!edit">Nuevo</span>
    </li>
</ol>

<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <div class="text-center">
            <img [src]="equipo.imagen == '' ? 'assets/images/sin_imagen.jpg' : equipo.imagen" class="img-thumbnail" [alt]="equipo.nombre" [title]="equipo.nombre">
        </div>
        
        <br/><hr/>

        <div *ngIf="equipo.pilotos?.length > 0">
            <h5>Pilotos:</h5>
            <ul>
              <li *ngFor="let piloto of equipo.pilotos">
                <a [routerLink]="['/pilotos/edit/', piloto.id]">{{ piloto.nombre }} </a><small>({{ piloto.edad }})</small>
              </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
        <form action="">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="equipo.nombre" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label>Moto</label>
                <input type="text" name="moto" [(ngModel)]="equipo.moto" placeholder="Moto" class="form-control">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="url" name="imagen" [(ngModel)]="equipo.imagen" placeholder="Imagen" class="form-control">
            </div>
            <div class="form-group">
                <label>Categoría</label>
                <select class="form-control" [(ngModel)]="equipo.categoria" [ngModelOptions]="{standalone: true}">
                    <option value="X">Seleccione una categoría</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                </select>
            </div>

            <br/>

            <button class="btn btn-success" (click)="edit ? cambiarEquipo() : crearEquipo()">Guardar</button>
            <span *ngIf="edit" class="pull-right">
                <button class="btn btn-danger" (click)="borrarEquipo(equipo.id)">Borrar</button>
            </span>
        </form>
    </div>
</div>
