<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li class="active">Pilotos</li>
</ol>

<div class="row">
  <div class="col-lg-9">
    <input type="text" class="form-control" name="filterPiloto" placeholder="Search..." [(ngModel)]="filterPiloto">
  </div>
  <div class="col-lg-3 text-right">
    <a [routerLink]="['/pilotos/add', categoria]" class="btn btn-success">Nuevo Piloto {{ categoria }}</a>
  </div>
</div>

<br/>

<ul class="nav nav-tabs">
  <li [ngClass]="{ 'active': categoria === 'MotoGP' }">
    <a data-toggle="tab" href="#MotoGP" (click)="muestraContenido('MotoGP')">MotoGP</a>
  </li>
  <li [ngClass]="{ 'active': categoria === 'Moto2' }">
    <a data-toggle="tab" href="#Moto2" (click)="muestraContenido('Moto2')">Moto2</a>
  </li>
  <li [ngClass]="{ 'active': categoria === 'Moto3' }">
    <a data-toggle="tab" href="#Moto3" (click)="muestraContenido('Moto3')">Moto3</a>
  </li>
</ul>

<div class="tab-content">
  <div id="MotoGP" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'MotoGP' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <h3>Equipos</h3>
        <div class="checkbox" *ngFor="let a1 of pilotosMotoGP | distinct: 'equipo.nombre'">
          <label>           
            <input type="checkbox" (click)="seleccion(a1, seleccionMotoGP, 'MotoGP', $event.target.checked)">{{ a1 }}
          </label>
        </div>
      </div>

      <div class="col-lg-10">
        <br/>
        <div class="col-lg-3" *ngFor="let a2 of pilotosMotoGP | filterNombre: filterPiloto | filterPiloto: seleccionMotoGP">
          <app-piloto-ficha [piloto]="a2"></app-piloto-ficha>
        </div>
      </div>
    </div>
  </div>

  <div id="Moto2" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto2' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <h3>Equipos</h3>
        <div class="checkbox" *ngFor="let b1 of pilotosMoto2 | distinct: 'equipo.nombre'">
          <label>           
            <input type="checkbox" (click)="seleccion(b1, seleccionMoto2, 'Moto2', $event.target.checked)">{{ b1 }}
          </label>
        </div>
      </div>

      <div class="col-lg-10">
        <br/>
        <div class="col-lg-3" *ngFor="let b2 of pilotosMoto2 | filterNombre: filterPiloto | filterPiloto: seleccionMoto2">
          <app-piloto-ficha [piloto]="b2"></app-piloto-ficha>
        </div>
      </div>
    </div>
  </div>

  <div id="Moto3" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto3' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <h3>Equipos</h3>
        <div class="checkbox" *ngFor="let c1 of pilotosMoto3 | distinct: 'equipo.nombre'">
          <label>           
            <input type="checkbox" (click)="seleccion(c1, seleccionMoto3, 'Moto3', $event.target.checked)">{{ c1 }}
          </label>
        </div>
      </div>

      <div class="col-lg-10">
        <br/>
        <div class="col-lg-3" *ngFor="let c2 of pilotosByMoto3 | filterNombre: filterPiloto | filterPiloto: seleccionMoto3">
          <app-piloto-ficha [piloto]="c2"></app-piloto-ficha>
        </div>
      </div>
    </div>
  </div>
</div>
