<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li><a [routerLink]="['/circuitos']">Circuitos</a></li>
    <li class="active">
        <span *ngIf="edit">Editar</span>
        <span *ngIf="!edit">Nuevo</span>
    </li>
</ol>

<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <img [src]="circuito.imagen == '' ? 'assets/images/sin_imagen.jpg' : circuito.imagen" class="img-thumbnail" alt="Imagen">

        <br/>

        <div *ngIf="clasificacionesByMotoGP?.length > 0">
            <h4>MotoGP</h4>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Piloto</th>
                        <th class="text-center">Posición</th>
                    </tr>
                    <tr *ngFor="let clasificacionByMotoGP of clasificacionesByMotoGP">
                        <td><a [routerLink]="['/pilotos/edit/', clasificacionByMotoGP.piloto.id]">{{ clasificacionByMotoGP.piloto.nombre }} </a><small>({{ clasificacionByMotoGP.piloto.equipo.moto }})</small></td>
                        <td class="text-center">{{ clasificacionByMotoGP.posicion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br/>
      
        <div *ngIf="clasificacionesByMoto2?.length > 0">
            <h4>Moto2</h4>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Piloto</th>
                        <th class="text-center">Posición</th>
                    </tr>
                    <tr *ngFor="let clasificacionByMoto2 of clasificacionesByMoto2">
                        <td><a [routerLink]="['/pilotos/edit/', clasificacionByMoto2.piloto.id]">{{ clasificacionByMoto2.piloto.nombre }} </a><small>({{ clasificacionByMoto2.piloto.equipo.moto }})</small></td>
                        <td class="text-center">{{ clasificacionByMoto2.posicion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br/>
      
        <div *ngIf="clasificacionesByMoto3?.length > 0">
            <h4>Moto3</h4>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Piloto</th>
                        <th class="text-center">Posición</th>
                    </tr>
                    <tr *ngFor="let clasificacionByMoto3 of clasificacionesByMoto3">
                        <td><a [routerLink]="['/circuitos/edit/', clasificacionByMoto3.circuito.id]">{{ clasificacionByMoto3.circuito.nombre }} </a><small>({{ clasificacionByMoto3.piloto.equipo.moto }})</small></td>
                        <td class="text-center">{{ clasificacionByMoto3.posicion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <form action="">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="circuito.nombre" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label>País</label>
                <input type="text" name="pais" [(ngModel)]="circuito.pais" placeholder="País" class="form-control">
            </div>
            <div class="form-group">
                <label>Longitud</label>
                <input type="number" name="longitud" [(ngModel)]="circuito.longitud" placeholder="Longitud" class="form-control">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="url" name="imagen" [(ngModel)]="circuito.imagen" placeholder="Imagen" class="form-control">
            </div>

            <br/>

            <button class="btn btn-success" (click)="edit ? cambiarCircuito() : crearCircuito()">Guardar</button>
            <span *ngIf="edit" class="pull-right">
                <button class="btn btn-danger" (click)="borrarCircuito(circuito.id)">Borrar</button>
            </span>
        </form>
    </div>
</div>
