<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li><a [routerLink]="['/pilotos', piloto.equipo.categoria]">Pilotos</a></li>
    <li class="active">
        <span *ngIf="edit">Editar</span>
        <span *ngIf="!edit">Nuevo</span>
    </li>
</ol>

<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <div class="text-center">
            <img [src]="piloto.imagen == '' ? 'assets/images/sin_imagen.jpg' : piloto.imagen" class="img-thumbnail" [alt]="piloto.nombre" [title]="piloto.nombre">
        </div>
        
        <br/><br/>

        <div *ngIf="clasificacionesByPiloto?.length > 0">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Circuito</th>
                        <th class="text-center">Posición</th>
                    </tr>
                    <tr *ngFor="let clasificacionByPiloto of clasificacionesByPiloto">
                        <td>
                            <img class="flag" src="assets/images/flags/{{ clasificacionByPiloto.pais }}.png" [alt]="clasificacionByPiloto.pais" [title]="clasificacionByPiloto.pais">
                            <a [routerLink]="['/circuitos/edit/', clasificacionByPiloto.id]">{{ clasificacionByPiloto.nombre }}</a>
                        </td>
                        <td class="text-center">{{ clasificacionByPiloto.posicion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
        <form action="">
            <div class="form-group">
                <label>Piloto</label>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" name="nombre" [(ngModel)]="piloto.nombre" placeholder="Nombre" class="form-control" autofocus>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="apellido" [(ngModel)]="piloto.apellido" placeholder="Apellido" class="form-control">
                    </div>
                </div>
               
            </div>           
            <div class="form-group">
                <label>Equipo</label>
                <div class="row">
                    <div class="col-lg-8">
                        <select class="form-control" [(ngModel)]="piloto.equipo.id" [ngModelOptions]="{standalone: true}">
                            <option value="0">Seleccione un equipo</option>
                            <option *ngFor="let equipo of equipos | sortBy: 'nombre'" value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                        </select>
                    </div>
                    <div class="col-lg-4 text-right">
                        <a [routerLink]="['/equipos/add', piloto.equipo.categoria]" class="btn btn-success">Nuevo Equipo</a>
                    </div>
                </div>
            </div>           
            <div class="form-group">
                <label>Dorsal</label>
                <input type="number" name="dorsal" [(ngModel)]="piloto.dorsal" placeholder="Dorsal" class="form-control">
            </div>
            <div class="form-group">
                <label>Pais</label>
                <!-- <input type="text" name="pais" [(ngModel)]="piloto.pais" placeholder="País" class="form-control"> -->
                <select class="form-control" [(ngModel)]="piloto.pais" [ngModelOptions]="{standalone: true}">
                    <option value="0">Seleccione un país</option>
                    <option *ngFor="let pais of paises | sortBy: 'nombre'" value="{{ pais.id }}">{{ pais.nombre }} ({{ pais.id }})</option>
                </select>
            </div>
            <div class="form-group">
                <label>Fecha nacimiento</label>
                <input type="date" name="fecha" [(ngModel)]="piloto.fecha" placeholder="Fecha nacimiento" class="form-control">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="url" name="imagen" [(ngModel)]="piloto.imagen" placeholder="Imagen" class="form-control">
            </div>

            <br/>

            <button class="btn btn-warning" (click)="edit ? cambiarPiloto() : crearPiloto()">Guardar</button>
            <span *ngIf="edit" class="pull-right">
                <button class="btn btn-danger" (click)="borrarPiloto(piloto.id)">Borrar</button>
            </span>
        </form>
    </div>
</div>
