<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li><a [routerLink]="['/pilotos']">Pilotos</a></li>
    <li class="active">
        <span *ngIf="edit">Editar</span>
        <span *ngIf="!edit">Nuevo</span>
    </li>
</ol>

<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <img [src]="piloto.imagen == '' ? 'assets/images/sin_imagen.jpg' : piloto.imagen" class="img-thumbnail" alt="Imagen">

        <br/><br/>

        <div *ngIf="clasificacionesByPiloto?.length > 0">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Circuito</th>
                        <th class="text-center">Posición</th>
                    </tr>
                    <tr *ngFor="let clasificacionByPiloto of clasificacionesByPiloto">
                        <td><a [routerLink]="['/circuitos/edit/', clasificacionByPiloto.circuito.id]">{{ clasificacionByPiloto.circuito.nombre }} </a><small>({{ clasificacionByPiloto.circuito.pais }})</small></td>
                        <td class="text-center">{{ clasificacionByPiloto.posicion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <form action="">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="piloto.nombre" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label>Equipo</label>
                <select class="form-control" [(ngModel)]="piloto.equipo.id" [ngModelOptions]="{standalone: true}">
                    <option value="0">Seleccione un equipo</option>
                    <option *ngFor="let equipo of equipos" value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Edad</label>
                <input type="number" name="edad" [(ngModel)]="piloto.edad" placeholder="Edad" class="form-control">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="url" name="imagen" [(ngModel)]="piloto.imagen" placeholder="Imagen" class="form-control">
            </div>

            <br/>

            <button class="btn btn-success" (click)="edit ? cambiarPiloto() : crearPiloto()">Guardar</button>
            <span *ngIf="edit" class="pull-right">
                <button class="btn btn-danger" (click)="borrarPiloto(piloto.id)">Borrar</button>
            </span>
        </form>
    </div>
</div>
