<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li class="active">Equipos</li>
</ol>

<p class="text-right">
  <a [routerLink]="['/equipos/add']" class="btn btn-success">Nuevo Equipo</a>
</p>

<div class="row">
  <div class="col-lg-4" *ngFor="let equipo of equipos">
    <div class="thumbnail">
      <a [routerLink]="['/equipos/edit/', equipo.id]">
        <img [src]="equipo.imagen" alt="equipo.nombre">
      </a>
      <div class="caption">
        <h4>
          <a [routerLink]="['/equipos/edit/', equipo.id]">{{ equipo.nombre }} </a>
          <small>({{ equipo.moto }})</small>
        </h4>
        <div *ngIf="equipo.pilotos?.length > 0">
          <h5>Pilotos:</h5>
          <ul>
            <li *ngFor="let piloto of equipo.pilotos">
                <a [routerLink]="['/pilotos/edit/', piloto.id]">{{ piloto.nombre }} </a><small>({{ piloto.edad }})</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
