<ol class="breadcrumb">
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li class="active">Equipos</li>
</ol>

<p class="text-right">
  <a [routerLink]="['/equipos/add', categoria]" class="btn btn-success">Nuevo Equipo {{ categoria }}</a>
</p>

<ul class="nav nav-tabs">
  <li [ngClass]="{ 'active': categoria === 'MotoGP' }">
    <a data-toggle="tab" href="#MotoGP" (click)="muestraContenido('MotoGP')">MotoGP</a>
  </li>
  <li [ngClass]="{ 'active': categoria === 'Moto2' }">
    <a data-toggle="tab" href="#Moto2" (click)="muestraContenido('Moto2')">Moto2</a>
  </li>
  <li [ngClass]="{ 'active': categoria === 'Moto3' }">
    <a data-toggle="tab" href="#Moto3" (click)="muestraContenido('Moto3')">Moto3</a>
  </li>
</ul>

<div class="tab-content">      
  <div id="MotoGP" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'MotoGP' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <app-equipos-nav [categoria]="MotoGP" [equipos]="equiposMotoGP" [seleccion]="seleccionMotoGP"></app-equipos-nav>

        {{ seleccionMotoGP | json }}
      </div>

      <div class="col-lg-10">
        <br/>
        <div class="row">
          <div class="col-lg-4" *ngFor="let a2 of equiposMotoGP | filterMoto: seleccionMotoGP | orderBy: 'nombre'">
            <app-equipo-ficha [equipo]="a2"></app-equipo-ficha>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div id="Moto2" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto2' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <h3>Marcas</h3>
        <div class="checkbox" *ngFor="let b1 of equiposMoto2 | distinct: 'moto'">
          <label>           
            <input type="checkbox" (click)="seleccion(b1, seleccionMotoGP, 'Moto2', $event.target.checked)">{{ b1 }}
          </label>
        </div>
      </div>
  
      <div class="col-lg-10">
        <br/>
        <div class="row">
          <div class="col-lg-4" *ngFor="let b2 of equiposMoto2 | filterMoto: seleccionMoto2 | orderBy: 'nombre'">
            <app-equipo-ficha [equipo]="b2"></app-equipo-ficha>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div id="Moto3" class="tab-pane fade" [ngClass]="{ 'in active': categoria === 'Moto3' }">
    <br/>
    <div class="row">
      <div class="col-lg-2">
        <h3>Marcas</h3>
        <div class="checkbox" *ngFor="let c1 of equiposMoto3 | distinct: 'moto'">
          <label>           
            <input type="checkbox" (click)="seleccion(c1, seleccionMotoGP, 'Moto3', $event.target.checked)">{{ c1 }}
          </label>
        </div>
      </div>
      
      <div class="col-lg-10">
        <br/>
        <div class="row">
          <div class="col-lg-4" *ngFor="let c2 of equiposMoto3 | filterMoto: seleccionMoto3 | orderBy: 'nombre'">
            <app-equipo-ficha [equipo]="c2"></app-equipo-ficha>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
