<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Circuito</th>
            <th class="text-center">Posición</th>
        </tr>
        <tr *ngFor="let clasificacion of clasificaciones">
            <td>
                <img class="flag" src="assets/images/flags/{{ clasificacion.pais }}.png" [alt]="clasificacion.pais" [title]="clasificacion.pais">
                <a [routerLink]="['/circuitos/edit/', clasificacion.id]">{{ clasificacion.nombre }}</a>
            </td>
            <td class="text-center">{{ clasificacion.posicion }}</td>
        </tr>
    </tbody>
</table>